.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body{
  background-color: #0c0029;
}
.button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.btn {
  background-color: #002c67;
  border: none;
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.btn:hover {
  background-color: #00071fd9;
}

.control {
  text-align: center;
  color: #ffffff;
}

canvas {
  background: #2718518c;
}
